<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="icon" href="/image/Logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

    <!--css-->
    <link href="/css/adminProduct.css" rel="stylesheet">

    <!-- link icon -->
    <link rel="stylesheet" data-purpose="Layout StyleSheet" title="Web Awesome"
        href="/css/app-wa-8d95b745961f6b33ab3aa1b98a45291a.css?vsn=d">

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/all.css">

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-solid.css">

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-regular.css">

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-light.css">
</head>

<body>
    <% 
        orders = typeof orders !== 'undefined' ? orders : []; 
    %>
    <% 
        order = typeof order !== 'undefined' ? order : []; 
    %>
    <% 
        orderEdit = typeof orderEdit !== 'undefined' ? orderEdit : []; 
    %>
    <% 
        totalPages  = typeof totalPages  !== 'undefined' ? totalPages  : []; 
    %>
    <% 
        orderItems = typeof orderItems !== 'undefined' ? orderItems : []; 
    %>
    <% 
        address = typeof address !== 'undefined' ? address : []; 
    %>
    <div class="container-fluid">
        <div class="row">
            <!--side bar-->
            <div class="col-2 sidebar">
                <div class="headerLogo">
                    <div class="imageLogo mb-5">
                        <a class="navbar-brand" href="#">
                            <img src="/image/Logo.png" alt="logo" style="width: 80px;">
                        </a>
                        <p style="font-size: large;" class="dash-title"><b>Admin Dashboard</b></p>
                    </div>

                    <div class="selection">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="/admin">
                                    <i class="fa-solid fa-chart-line"></i>
                                    <span class="nav-text">Dashboard</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/manageProduct">
                                    <i class="fa-regular fa-ice-cream"></i>
                                    <span class="nav-text">Product Management</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/manageOrder">
                                    <i class="fa-solid fa-send-backward"></i>
                                    <span class="nav-text">Order Management</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/manageUser">
                                    <i class="fa-regular fa-user"></i>
                                    <span class="nav-text">User Management</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/manageCoupon">
                                    <i class="fa-regular fa-ticket"></i>
                                    <span class="nav-text">Coupon Management</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/signout">
                                    <i class="fa-regular fa-circle-user"></i>
                                    <span class="nav-text">Signout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--view table-->
            <div class="col-10">
                <div class="cardBox">
                    <div class="card mt-5">
                        <h2>Manage Orders</h2>

                        <!--filter-->
                        <div style="float:right;" class="ml-auto mr-4 mb-5">
                            <form action="/admin/manageOrder/selectDate" method="get">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label for="dateSelect">Select Date Range:</label>
                                        <select class="form-control ml-2" id="dateSelect" name="date_range">
                                            <option value="today">Today</option>
                                            <option value="yesterday">Yesterday</option>
                                            <option value="week">Week</option>
                                            <option value="month">Month</option>
                                            <option value="another">Custom Date</option>
                                        </select>
                                    </div>
                            
                                    <!-- Hiển thị input tùy chỉnh ngày nếu chọn 'another' -->
                                    <div class="form-group ml-2" id="customDateGroup" style="display: none;">
                                        <label for="customDate">Choose Date:</label>
                                        <input type="date" class="form-control ml-2" id="customDate" name="custom_date">
                                    </div>
                            
                                    <button type="submit" class="btn btnAdd ml-2">Show</button>
                                </div>
                            </form>
                        </div>

                        <!--view table-->
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Order ID</th>
                                        <th>User ID</th>
                                        <th>Total Price</th>
                                        <th>Status</th>
                                        <th>Create at</th>
                                        <th>Control</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% orders.forEach(order => { %>
                                        <tr>
                                            <td><%= order.order_id %></td>
                                            <td><%= order.user_id %></td>
                                            <td><%= order.total_price %></td>
                                            <td><%= order.status %></td>
                                            <td><%= new Date(order.created_at).toLocaleDateString('en-GB') %></td>
                                            <td>
                                                <form method="get" action="/admin/manageOrder/edit">
                                                    <input type="hidden" id='order_id' name="order_id" value="<%= order.order_id %>">
                                                    <button class="btn btn-edit" data-toggle="modal" data-target="#myModalEdit">
                                                        <i class="fa-solid fa-pen-to-square fa-lg" style="color: #ffd260;"></i>
                                                    </button>
                                                </form>
                                                <form method="get" action="/admin/manageOrder/viewOrder">
                                                    <input type="hidden" id='order_id' name="order_id" value="<%= order.order_id %>">
                                                    <button class="btn btn-view" data-toggle="modal" data-target="#myModalView">
                                                        <i class="fa-solid fa-eye fa-lg" style="color: #95fbff;"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    <% }) %>
                                    

                                </tbody>
                            </table>
                        </div>

                        <!--pagination-->
                        <div class="paginationBox">
                            <ul class="pagination justify-content-center">
                                <% for (let i = 1; i <= totalPages; i++) { %>
                                    <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                        <a class="page-link" href="/product?page=<%= i %>"><%= i %></a>
                                    </li>
                                <% } %>
                            </ul>
                        </div>

                        <!--edit product form-->
                        <div class="modal fade" id="myModalEdit"  data-order-edit="<%= orderEdit ? 'true' : 'false' %>" inert>
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h4 class="modal-title">Edit Order</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <div class="modal-body">
                                        <% if (orderEdit) { %>
                                            <form action="/admin/manageOrder/editOrder" method="post">
                                                <input type="hidden" name="order_id" id='order_id' value="<%= orderEdit.order_id || '' %>">                                                
                                                <div class="form-group">
                                                    <label for="order_id">Order ID:</label>
                                                    <input type="number" class="form-control" placeholder=" "
                                                        id="order_id" value="<%= orderEdit.order_id %>" readonly>
                                                </div>
                                                <div class="form-group">
                                                    <label for="user_id">User ID:</label>
                                                    <input type="number" class="form-control" placeholder=" "
                                                        id="user_id" value="<%= orderEdit.user_id %>" readonly>
                                                </div>
                                                <div class="form-group">
                                                    <label for="price">Total Price:</label>
                                                    <input type="number" class="form-control" placeholder=" "
                                                        id="price" value="<%= orderEdit.total_price %>" readonly>
                                                </div>
                                                <div class="form-group">
                                                    <label for="date">Create at:</label>
                                                    <input type="date" class="form-control" placeholder=" "
                                                           id="date" value="<%= orderEdit.created_at %>" readonly>
                                                    <p>Formatted Date: <%= orderEdit.formatted_date %></p>
                                                </div>                                                
                                                <div class="form-group">
                                                    <label for="status">Status:</label>
                                                    <select id="status" name="status" class="form-control" required>
                                                        <option value="pending" <%= orderEdit.status && orderEdit.status === 'pending' ? 'selected' : '' %>>Pending</option>
                                                        <option value="confirmed" <%= orderEdit.status && orderEdit.status === 'confirmed' ? 'selected' : '' %>>Confirmed</option>
                                                        <option value="shipped" <%= orderEdit.status && orderEdit.status === 'shipped' ? 'selected' : '' %>>Shipped</option>
                                                        <option value="delivered" <%= orderEdit.status && orderEdit.status === 'delivered' ? 'selected' : '' %>>Delivered</option>
                                                    </select>
                                                </div>
                                                <button type="submit" class="btn btnAdd">Update</button>
                                            </form>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--view detail order-->
                        <div class="modal fade" id="myModalView">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h4 class="modal-title">View Order Details</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <div class="modal-body">
                                        <p>
                                            <b>Name: </b>
                                            <%= order.username %>
                                        </p>
                                        <p>
                                            <b>Address: </b>
                                            <%= address.address %>
                                        </p>
                                        <p>
                                            <b>Phone Number: </b>
                                            <%= address.phone %>
                                        </p>
                                        <p>
                                            <b>Purchase Time: </b>                                            
                                            <td><%= new Date(order.created_at).toLocaleDateString('en-GB') %>
                                        </p>
                                        <p>
                                            <b>Total price: </b>
                                            <%= order.total_price %>
                                        </p>
                                        <p><b>Product List: </b></p>
                                        <% orderItems.forEach(orderitems => { %>
                                            <div class="row">
                                                <div class="col-4">
                                                    <img src="<%= orderitems.image_url %>" alt="kemdau"
                                                        style="width: 40%; border-radius: 20px;">
                                                </div>
                                                <div class="col-8">
                                                    <h6><%= orderitems.name %></h6>
                                                    <p><b>Quantity: </b><%= orderitems.quantity %></p>
                                                    <p class="price">
                                                        <i class="fa-solid fa-tags"></i>
                                                        <%= orderitems.base_price %>
                                                    </p>
                                                </div>
                                            </div>
                                        <% }) %>
                                        
                                    </div>
                                    <div class="mt-5" style="float: right;">
                                        <a href="/admin/manageOrder">
                                            <button class="btn btnAdd">Return</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Script cho Edit -->
    <% if (orderEdit) { %>
        <script>
            $(document).ready(function () {
                var urlParams = new URLSearchParams(window.location.search);
                if (urlParams.has('order_id')) {
                    $('#myModalEdit').removeAttr('inert'); // Loại bỏ inert khi mở modal
                    $('#myModalEdit').modal('show'); // Hiển thị modal Edit
                }
            });
        </script>
    <% } %>

    <% if (order) { %>
        <script>
            $(document).ready(function () {
                var urlParams = new URLSearchParams(window.location.search);
                if (urlParams.has('order_id')) {
                    $('#myModalView').removeAttr('inert'); // Loại bỏ inert khi mở modal
                    $('#myModalView').modal('show'); // Hiển thị modal View
                }
            });
        </script>
    <% } %>

    <!--script for another date-->
    <script>
        // Hiển thị trường chọn ngày nếu chọn "Custom Date"
        $('#dateSelect').change(function() {
            if ($(this).val() === 'another') {
                $('#customDateGroup').show();
            } else {
                $('#customDateGroup').hide();
            }
        });
    </script>

</body>

</html>