<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="icon" href="../../public/image/Logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

    <!--css-->
    <link href="/css/adminProduct.css" rel="stylesheet">

    <!-- link icon -->
    <link rel="stylesheet" data-purpose="Layout StyleSheet" title="Web Awesome"
        href="/css/app-wa-8d95b745961f6b33ab3aa1b98a45291a.css?vsn=d">

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/all.css">

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-solid.css">

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-regular.css">

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-light.css">
</head>

<body>
    <% 
        users = typeof users !== 'undefined' ? users : []; 
    %>
    <% 
        usersEdit = typeof usersEdit !== 'undefined' ? usersEdit : []; 
    %>
    <div class="container-fluid">
        <div class="row">
            <!--side bar-->
            <div class="col-2 sidebar">
                <div class="headerLogo">
                    <div class="imageLogo mb-5">
                        <a class="navbar-brand" href="#">
                            <img src="/image/Logo.png" alt="logo" style="width: 80px;">
                        </a>
                        <p style="font-size: large;" class="dash-title"><b>Admin Dashboard</b></p>
                    </div>

                    <div class="selection">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fa-solid fa-chart-line"></i>
                                    <span class="nav-text">Dashboard</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fa-regular fa-ice-cream"></i>
                                    <span class="nav-text">Product Management</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fa-solid fa-send-backward"></i>
                                    <span class="nav-text">Order Management</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fa-regular fa-user"></i>
                                    <span class="nav-text">User Management</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fa-regular fa-ticket"></i>
                                    <span class="nav-text">Coupon Management</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fa-regular fa-circle-user"></i>
                                    <span class="nav-text">Account</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--view table-->
            <div class="col-10">
                <div class="cardBox">
                    <div class="card mt-5">
                        <h2>Manage Users</h2>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>User ID</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Status</th>
                                        <th>Role</th>
                                        <th>Control</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% users.forEach(user => { %>
                                        <tr>
                                            <td><%= user.user_id %></td>
                                            <td><%= user.username %></td>
                                            <td><%= user.email %></td>
                                            <td class="status mt-2"><%= user.status %></td>
                                            <td><%= user.role %></td>
                                            <td>
                                                <form action="/admin/manageUser/edit" method="get" style="display: inline;">
                                                    <input type="hidden" id="user_id" name="user_id" value="<%= user.user_id %>">
                                                    <button class="btn btn-edit"  data-toggle="modal" data-target="#myModalEdit">
                                                        <i class="fa-solid fa-pen-to-square fa-lg" style="color: #ffd260;"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    <% }) %>

                                </tbody>
                            </table>
                        </div>

                        <!--edit product form-->
                        <div class="modal fade" id="myModalEdit">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h4 class="modal-title">Edit User</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <div class="modal-body">
                                        <% if (usersEdit) { %>
                                            <form action="/admin/manageUser/editUser" method="post">
                                                <input type="hidden" name="user_id" value="<%= usersEdit.user_id || '' %>">                                                
                                                <div class="form-group">
                                                    <label for="username">Username:</label>
                                                    <input type="username" class="form-control" placeholder="Enter username"
                                                        id="username" value="<%= usersEdit.username %>" readonly>
                                                </div>
                                                <div class="form-group">
                                                    <label for="email">Email address:</label>
                                                    <input type="email" class="form-control" placeholder="Enter email"
                                                        id="email" value="<%= usersEdit.email %>" readonly>
                                                </div>
                                                <div class="form-group">
                                                    <label for="status">Status:</label>
                                                    <select id="status" name="status" class="form-control" required>
                                                        <option value="active" <%= usersEdit.status && usersEdit.status === 'active' ? 'selected' : '' %>>Active</option>
                                                        <option value="banned" <%= usersEdit.status && usersEdit.status === 'banned' ? 'selected' : '' %>>Banned</option>
                                                    </select>
                                                </div>
                                                
                                                <div class="form-group">
                                                    <label for="role">Role:</label>
                                                    <select id="role" name="role" class="form-control" required>
                                                        <option value="customer" <%= usersEdit.role && usersEdit.role === 'customer' ? 'selected' : '' %>>Customer</option>
                                                        <option value="admin" <%= usersEdit.role && usersEdit.role === 'admin' ? 'selected' : '' %>>Admin</option>
                                                    </select>
                                                </div>
                                                
                                                <button type="submit" class="btn btnAdd">Update</button>
                                            </form>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--script for user status-->
    <script>
        const statusCells = document.querySelectorAll('.status');
    
        statusCells.forEach(cell => {
            if (cell.textContent.trim() === 'active') {
                cell.style.backgroundColor = '#00ffa2';
                cell.style.fontWeight = '500';
                cell.style.borderRadius = '30px';
                cell.style.padding = '3px 10px';
                cell.style.display = 'inline-block';
            } 
            else if (cell.textContent.trim() === 'banned') {
                cell.style.backgroundColor = '#ff7171';
                cell.style.fontWeight = '500';
                cell.style.borderRadius = '30px';
                cell.style.padding = '3px 10px';
                cell.style.display = 'inline-block';
            }
        });
    </script>

    <!--script for modal edit-->
    <% if (usersEdit) { %>
        <script>
            $(document).ready(function() {
                // Kiểm tra nếu có productId trong URL
                var urlParams = new URLSearchParams(window.location.search);
                if (urlParams.has('user_id')) {
                    $('#myModalEdit').modal('show');
                }
            });
        </script>
    <% } %>

</body>

</html>