<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="icon" href="../../public/image/Logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

    <!--css-->
    <link href="/css/adminProduct.css" rel="stylesheet">

    <!-- link icon -->
    <link rel="stylesheet" data-purpose="Layout StyleSheet" title="Web Awesome"
        href="/css/app-wa-8d95b745961f6b33ab3aa1b98a45291a.css?vsn=d">

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/all.css">

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-solid.css">

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-regular.css">

    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-light.css">
</head>

<body>
    <% 
        coupon = typeof coupon !== 'undefined' ? coupon : []; 
    %>
    <div class="container-fluid">
        <div class="row">
            <!--side bar-->
            <div class="col-2 sidebar">
                <div class="headerLogo">
                    <div class="imageLogo mb-5">
                        <a class="navbar-brand" href="#">
                            <img src="/image/Logo.png" alt="logo" style="width: 80px;">
                        </a>
                        <p style="font-size: large;" class="dash-title"><b>Admin Dashboard</b></p>
                    </div>

                    <div class="selection">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="/admin">
                                    <i class="fa-solid fa-chart-line"></i>
                                    <span class="nav-text">Dashboard</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/manageProduct">
                                    <i class="fa-regular fa-ice-cream"></i>
                                    <span class="nav-text">Product Management</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/manageOrder">
                                    <i class="fa-solid fa-send-backward"></i>
                                    <span class="nav-text">Order Management</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/manageUser">
                                    <i class="fa-regular fa-user"></i>
                                    <span class="nav-text">User Management</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/manageCoupon">
                                    <i class="fa-regular fa-ticket"></i>
                                    <span class="nav-text">Coupon Management</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/signout">
                                    <i class="fa-regular fa-circle-user"></i>
                                    <span class="nav-text">Signout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--view table-->
            <div class="col-10">
                <div class="cardBox">
                    <div class="card mt-5">
                        <h2>Manage Coupons</h2>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Coupon ID</th>
                                        <th>Code</th>
                                        <th>Discount_Value</th>
                                        <th>Discount Type</th>
                                        <th>Create At</th>
                                        <th>Expiration Date</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <% coupon.forEach(cp => { %>
                                        <tr>
                                            <td><%= cp.coupon_id %></td>
                                            <td><%= cp.code %></td>
                                            <td>
                                                <% if (cp.discount_type === 'percentage') { %>
                                                    <%= `${Math.round(cp.discount_value)}%` %>
                                                <% } else { %>
                                                    <%= `${Number(cp.discount_value).toLocaleString()}đ` %>
                                                <% } %>
                                            </td>
                                            <td><%= cp.discount_type %></td>
                                            <td><%= new Date(cp.create_at).toLocaleDateString('en-GB') %></td>
                                            <td><%= new Date(cp.expiration_date).toLocaleDateString('en-GB') %></td>
                                        </tr>
                                    <% }) %>
                                    
                                    
                                </tbody>
                            </table>
                        </div>

                        <div class="addProduct">
                            <button class="btn btnAdd" data-toggle="modal" data-target="#myModal">Add Coupon</button>
                        </div>

                        <!-- The Modal -->
                        <div class="modal fade" id="myModal">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Add New Coupon</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <form action="/admin/manageCoupon/addCoupon" method="post">
                                            <div class="form-group">
                                                <label for="code">Code:</label>
                                                <input type="text" class="form-control" name="code" placeholder="Enter code"
                                                    id="code">
                                            </div>
                                            <div class="form-group">
                                                <label for="discount_value">Discount value:</label>
                                                <input type="text" class="form-control" name="discount_value" placeholder="Enter discount value"
                                                    id="discount_value">
                                            </div>
                                            <div class="form-group">
                                                <label for="discount_type">Discount Type:</label>
                                                <select id="discount_type" name="discount_type" class="form-control" required>
                                                    <option value="percentage">Percentage</option>
                                                    <option value="fixed">Fixed</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="date">Expiration Date:</label>
                                                <input type="date" class="form-control" name="expiration_date" placeholder="Enter date"
                                                    id="date">
                                            </div>
                                            
                                            <button type="submit" class="btn btnAdd">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>