<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="icon" href="/image/Logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- link icon -->
    <link rel="stylesheet" data-purpose="Layout StyleSheet" title="Web Awesome"
        href="/css/app-wa-8d95b745961f6b33ab3aa1b98a45291a.css?vsn=d">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/sharp-regular.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+3:200,300,regular,500,
            600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ionicons@5.5.2/dist/ionicons.css">

    <!-- css -->
    <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <link href="/css/checkout.css" rel="stylesheet">

</head>

<body>
    <% cartProduct=typeof cartProduct !=='undefined' ? cartProduct : []; %>
    <% total = typeof total !=='undefined' ? total : []; %>
    <% user = typeof user !=='undefined' ? user : []; %>
                <!--header-->

                <nav class="navbar navbar-expand-sm navbar-header container-fluid"
                    style="z-index: 1050; position: relative;">
                    <a class="navbar-brand" href="#" style="font-weight: 700; font-size: 50px; color: #7c4c2c;">
                        <img src="/image/Logo.png" alt="logo" style="width: 90px;">
                        GELADO
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Product</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Cart</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fa-sharp fa-solid fa-circle-user fa-2xl"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>


                <div class="container">
                    <h1 class="heading">Shopping Cart</h1>
                    <div class="item">
                        <div class="checkout">
                            <!-- Shipping Information Details -->
                            <h2 class="section-heading">Shipping Details</h2>
                            <div class="payment-form">
                                <form id="checkoutForm" method="post" action="/cart/checkout">
                                    <!-- email -->
                                    <div class="form-group">
                                        <label for="email" class="label">Email</label>
                                        <input type="email" id="email" name="email" required placeholder=" "
                                            class="form-input" value="<%= user ? user.email : '' %>">
                                    </div>

                                    <div class="form-group-row">
                                        <!-- username -->
                                        <div class="form-group">
                                            <label for="firstname" class="label">Username</label>
                                            <input type="text" id="username" name="username" required placeholder=" "
                                                class="form-input" value="<%= user ? user.username : '' %>">
                                        </div>
                                    </div>

                                    <!-- phone -->
                                    <div class="form-group">
                                        <label for="phone" class="label">Phone</label>
                                        <input type="tel" id="phone" name="phone" required placeholder=" "
                                            class="form-input" value="">
                                    </div>

                                    <!-- address -->
                                    <div class="form-group">
                                        <label for="address" class="label">Address</label>
                                        <input type="text" id="address" name="address" required placeholder=" "
                                            class="form-input" value="">
                                    </div>

                                    <!-- Payment Information Details -->
                                    <h2 class="section-heading">Payment Details</h2>

                                    <div class="payment-method">
                                        <button type="button" class="method selected">
                                            <ion-icon name="card"></ion-icon>
                                            <span>Credit Card</span>
                                            <ion-icon class="checkmark fill" name="checkmark-circle"></ion-icon>
                                        </button>

                                        <button type="button" class="method">
                                            <ion-icon name="cash-outline"></ion-icon>
                                            <span>Cash on Delivery</span>
                                            <ion-icon class="checkmark" name="checkmark-circle-outline"></ion-icon>
                                        </button>
                                    </div>

                                    <!-- Credit Card info details -->
                                    <div method="post" action="/cart" class="credit-card" id="credit-card-info">
                                        <!-- Cardholder name -->
                                        <div class="form-group cardholder">
                                            <label for="cardholder" class="label">Cardholder name</label>
                                            <input type="text" name="cardholder" id="cardholder" required
                                                placeholder=" " class="form-input">
                                        </div>
                                        <!-- Credit card number -->
                                        <div class="form-group cardid">
                                            <label for="cardid" class="label">Card number</label>
                                            <input type="number" name="cardid" id="cardid" required placeholder=" "
                                                class="form-input">
                                        </div>
                                        <!-- expiration date -->
                                        <div class="input-flex">
                                            <div class="form-group date">
                                                <label for="date" class="label">Expiration date</label>

                                                <div class="input-flex">
                                                    <input type="number" name="day" id="date" required placeholder="31"
                                                        min="1" max="31" class="form-input"> / <input type="number"
                                                        name="month" id="date" required placeholder="12" min="1"
                                                        max="12" class="form-input">
                                                </div>
                                            </div>

                                            <!-- CVV -->
                                            <div class="form-group cvv">
                                                <label for="cvv" class="label">CVV</label>
                                                <input type="number" name="cvv" id="cvv" required placeholder=" "
                                                    class="form-input">
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-pay" data-toggle="modal"
                                        data-target="#notificationModal"><b>PAY</b></button>
                                </form>
                            </div>
                        </div>

                        <!-- shopping cart -->
                        <div class="cart">
                            <div class="cart-item">
                                <h2 class="section-heading">Order summary</h2>

                                <% if (cartProduct.length> 0) { %>
                                    <!-- Ex prd 1 -->
                                    <% cartProduct.forEach(product=> { %>
                                        <div class="row prd-card align-items-center">
                                            <!-- Image -->
                                            <div class="col-2 img-box">
                                                <img src="<%= product.image_url %>" class="prd-img" alt="Card image">
                                            </div>

                                            <!-- Details -->
                                            <div class="col-8 detail">
                                                <!-- Product name -->
                                                <h4 class="prd-name">
                                                    <%= product.product_name %>
                                                </h4>
                                                <div class="flex-column wrapper">
                                                    <!-- Product quantity -->
                                                    <div class="col-6 prd-quantity">
                                                        <span id="quantity">
                                                            <%= product.quantity %>
                                                        </span>
                                                    </div>

                                                    <!-- Product price -->
                                                    <div class="col-6 price">
                                                        <span id="price">
                                                            <%= product.base_price %>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% }) %>
                                <% } %>

                                <div class="wrapper">
                                    <div class="amount">
                                        <div class="total">
                                            <span>Total</span>
                                            <span>
                                                <%= total %> 
                                            </span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- Modal thông báo -->
                    <!-- Modal thông báo -->
                    <div id="notificationModal" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Thông báo</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p id="modalMessage">Nội dung thông báo ở đây</p>
                                </div>
                                <div class="modal-footer">
                                    <button id="modalClose" type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Đóng</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="modal fade" id="modalSignOut" tabindex="-1" role="dialog"
                        aria-labelledby="modalSignOutLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-body text-center">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h3 class="modal-header">&emsp;&emsp;&emsp;&ensp;Order successfully</i></h3>
                                </div>
                                <div class="text-center">
                                    <h4 class="modal-title">Product Comments</h4>

                                </div>
                                <div class="modal-body">
                                    <form action="/action_page.php">
                                        <div class="product-list">
                                            <!-- Product 1 -->
                                            <div class="product-item">
                                                <h5>Product 1</h5>
                                                <textarea class="form-control" rows="3"
                                                    placeholder="Share more thoughts on the product to help other buyer."></textarea>
                                                <hr>
                                            </div>
                                            <!-- Product 2 -->
                                            <div class="product-item">
                                                <h5>Product 2</h5>
                                                <textarea class="form-control" rows="3"
                                                    placeholder="Share more thoughts on the product to help other buyer."></textarea>
                                                <hr>
                                            </div>
                                            <!-- Product 3 -->
                                            <div class="product-item">
                                                <h5>Product 3</h5>
                                                <textarea class="form-control" rows="3"
                                                    placeholder="Share more thoughts on the product to help other buyer."></textarea>
                                                <hr>
                                            </div>
                                        </div>

                                        <!-- Submit All Comments -->
                                        <button type="button" class="btn btnSubmit" style="float: right;">Submit
                                            All</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <!-- return Home -->
                                    <form action="/home" method="get">
                                        <button class="btn btnComment">Home</button>
                                    </form>

                                    <!-- views Order Detail -->
                                    <form action="/orderDetail" method="get">
                                        <button class="btn btnComment">Order Detail</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <script src="../../public/css/cart.js"></script>
-->

                <script>
                    'use strict';

                    const decrementBtn = document.querySelectorAll('#decrement');
                    const quantityElem = document.querySelectorAll('#quantity');
                    const incrementBtn = document.querySelectorAll('#increment');
                    const priceElem = document.querySelectorAll('#price');
                    const subtotalElem = document.querySelector('#subtotal');
                    const taxElem = document.querySelector('#tax');
                    const totalElem = document.querySelector('#total');

                    $(document).ready(function () {
                        // Khi click vào Credit Card hoặc Cash on Delivery
                        $('.payment-method .method').click(function () {
                            // Kiểm tra nếu chọn "Credit Card"
                            if ($(this).find('span').text() === 'Credit Card') {
                                // Hiển thị form thông tin thẻ tín dụng
                                $('#credit-card-info').show();
                            } else if ($(this).find('span').text() === 'Cash on Delivery') {
                                // Ẩn form thông tin thẻ tín dụng
                                $('#credit-card-info').hide();
                            }

                            // Loại bỏ class "fill" khỏi tất cả các icon
                            $('.payment-method .checkmark').removeClass('fill').attr('name', 'checkmark-circle-outline');

                            // Thêm class "fill" vào icon của button đã được click
                            $(this).find('.checkmark').addClass('fill').attr('name', 'checkmark-circle');
                        });
                    });





                    // add event on multiple increment & decrement button
                    for (let i = 0; i < incrementBtn.length; i++) {
                        incrementBtn[i].addEventListener('click', function () {
                            let increment = Number(this.previousElementSibling.textContent);

                            increment++;
                            this.previousElementSibling.textContent = increment;

                            totalCalc();
                        });

                        decrementBtn[i].addEventListener('click', function () {
                            let decrement = Number(this.nextElementSibling.textContent);
                            decrement <= 1 ? 1 : decrement--;
                            this.nextElementSibling.textContent = decrement;
                            totalCalc();
                        });
                    }

                    // alculating total amount of product price
                    const totalCalc = function () {
                        const tax = 0.05;
                        let subtotal = 0;
                        let totalTax = 0;
                        let total = 0;

                        for (let i = 0; i < quantityElem.length; i++) {
                            subtotal += Number(quantityElem[i].textContent) * Number(priceElem[i].textContent);
                        }
                        subtotalElem.textContent = subtotal.toFixed(2);

                        totalTax = subtotal * tax;
                        taxElem.textContent = totalTax.toFixed(2);

                        // calculate  `total`
                        total = subtotal + totalTax;

                        totalElem.textContent = total.toFixed(2);
                    }

                    document.querySelector(".btnSubmit").addEventListener("click", function () {
                        const productComments = [];
                        document.querySelectorAll(".product-item").forEach((item, index) => {
                            const productName = item.querySelector("h5").innerText;
                            const comment = item.querySelector("textarea").value;
                            productComments.push({ product: productName, comment: comment });
                        });

                        console.log(productComments);

                        fetch('/submit_comments', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify(productComments)
                        }).then(response => response.json())
                            .then(data => {
                                alert("Comments submitted successfully!");
                            }).catch(error => {
                                alert("Error submitting comments");
                            });
                    });

                    // Khi nhấn nút Pay, thực hiện hành động
                    // document.querySelector(".btn-pay").addEventListener("click", function () {
                    //     // Hiển thị modal
                    //     $('#modalSignOut').modal('show');
                    // });

                    // // modal open
                    // $('#modalSignOut').on('show.bs.modal', function () {
                    //     document.querySelector('.container .item').classList.add('hidden');
                    // });

                    // // modal close
                    // $('#modalSignOut').on('hidden.bs.modal', function () {
                    //     window.location.href = '/home';
                    // });
                </script>

                <!--script for notification for user-->
                <script>
                    $(document).ready(function () {
                        // Khi click vào Credit Card hoặc Cash on Delivery
                        $('.payment-method .method').click(function () {
                            // Kiểm tra nếu chọn "Credit Card"
                            if ($(this).find('span').text() === 'Credit Card') {
                                // Hiển thị form thông tin thẻ tín dụng
                                $('#credit-card-info').show();
                            } else if ($(this).find('span').text() === 'Cash on Delivery') {
                                // Ẩn form thông tin thẻ tín dụng
                                $('#credit-card-info').hide();
                            }

                            // Loại bỏ class "fill" khỏi tất cả các icon
                            $('.payment-method .checkmark').removeClass('fill').attr('name', 'checkmark-circle-outline');

                            // Thêm class "fill" vào icon của button đã được click
                            $(this).find('.checkmark').addClass('fill').attr('name', 'checkmark-circle');
                        });

                        // Xử lý khi submit form
                        $('#checkoutForm').submit(function (e) {
                            e.preventDefault(); // Ngừng hành động submit mặc định

                            const formData = $(this).serialize(); // Lấy dữ liệu từ form

                            $.ajax({
                                url: '/cart/checkout',
                                method: 'POST',
                                data: formData,
                                success: function (response) {
                                    // Hiển thị thông báo thành công
                                    alert(response.message);
                                    // Bạn có thể mở modal ở đây nếu cần
                                },
                                error: function (xhr, status, error) {
                                    // Xử lý lỗi
                                    const response = xhr.responseJSON;
                                    alert(response.message);
                                }
                            });
                        });
                    });

                    
                </script>

</body>

</html>